*{
    font-family: sans-serif;
}
*{
    text-align: center;
    list-style-position: inside;
}



#main-title,
b{
    color: rgb(200,170,30);
    font-weight: bold;
    font-family: "Times New Roman";
}

.mainlist{
    margin: auto;
    padding: auto;
    width: 250px;
}

li{
    text-align: left;
}
ul, ol{
    border: 5px double rgb(200,170,30);
    padding: 1em;
}

h1{
    font-size: 40px;
}

h2{
    color: rgb(154, 113, 0);
}

.mainpage img{
    width:250px;
}

img{
    width:350px;
}